.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl Button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}