.Button {
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 14px;
    height: 32px;
    padding: 4px 15px;
    cursor: pointer;
    margin-top: 80px;
}

.Primary:hover {
    color: white;
    background-color: #40a9ff;
    border-color: #40a9ff;
}

.Default:hover {
    color: #40a9ff;
    background-color: white;
    border-color: #40a9ff;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Primary {
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    color: white;
    margin: 5px;
}

.Default {
    background-color: #fff;
    border-color: #d9d9d9;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    color: rgba(0, 0, 0, 0.65);
    margin-top: 20px;
    margin: 5px;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}